{% extends 'base.html' %}
{% load static %}
{% block title %}
{{page_name}}

{% endblock title %}

{% block css %}




{% endblock css %}

{% block content %}

    {% include "page_header_ban.html" %}
	<!-- Start About Us Area -->
    <section class="about-us-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="{% static 'img/33.jpg' %}" alt="Image">

                        <div class="experience">
                            <div class="">
                                <h2>16 Years Of Experience</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-content">
                        <span class="top-title">About Us</span>
                        <h2>{{about_us.main_text}}</h2>
                        <p>{{about_us.description}}</p>
                        
                       <p>
						The company has a chain of Air cargo, Land and sea Cargo, and Courier services which are customized depending on the client’s needs. The channel export team of the company works in perfect tandem with the client team for optimum output and deliveries. The company has an enviable team of ground and air freight with a nearly 100% success rate of systematic and punctual deliveries along with service.
					   </p>

                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us Area -->

    <!-- Start Counter Area --> 
		<section class="counter-area bg-color pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-counter">
							<i class="flaticon-package"></i>

							<h2>
								<span class="odometer" data-count="{{about_us.delivery_packages}}">{{about_us.delivery_packages}}</span> 
								<span class="target">+</span>
							</h2>

							<p>Delivered Packages</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-counter">
							<i class="flaticon-worldwide"></i>

							<h2>
								<span class="odometer" data-count="{{about_us.countries_covered}}">{{about_us.countries_covered}}</span> 
								<span class="target">+</span>
							</h2>

							<p>Countries Covered</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-counter">
							<i class="flaticon-user"></i>

							<h2>
								<span class="odometer" data-count="{{about_us.happy_clients}}">{{about_us.happy_clients}}</span> 
								<span class="traget">+</span>
							</h2>

							<p>Happy Clients</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-counter">
							<i class="flaticon-location-1"></i>

							<h2>
								<span class="odometer" data-count="{{about_us.tons_of_good}}">{{about_us.tons_of_good}}</span> 
								<span class="target">+</span>
							</h2>

							<p>Tons Of Goods</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Counter Area -->

		<!-- Start Choose Us Area -->
		<section class="choose-us-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="choose-us-content">
							<span class="top-title">Why Choose Us</span>
							<h2>We Are The Best And That's Why You Can Choose Us Easily</h2>
							<p>Our export service specializes in customizing a full-service logistics provider for you. This means going the extra mile to keep your supply chain operating at top efficiency, with exceptional customer service. The object of a freight logistics company is to guarantee the perfect shipments via lane, timing, and rate. A great freight and logistics company like Everest International Exports does this and more. </p>

							<div class="choose-us-slider owl-carousel owl-theme">
								<div class="single-choose-us-box bg-color-1">
									<i class="bx bx-calendar"></i>
									<span>20+ Years Work Experiences</span>
								</div>
								
								<div class="single-choose-us-box bg-color-2">
									<i class="bx bx-globe"></i>
									<span>World's Areas Covered</span>
								</div>

								<div class="single-choose-us-box bg-color-3">
									<i class="bx bx-user"></i>
									<span>Corporate And Official Client</span>
								</div>

								<div class="single-choose-us-box bg-color-1">
									<i class="bx bx-calendar"></i>
									<span>24/7 Customer Support</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<div class="choose-us-img">
							<img src="{% static 'img/cargo_img/post1-copyright-890x664.jpg' %}" alt="Image">
						</div>
					</div>
				</div>
			</div>
		</section>
		
		



{% endblock content %}

{% block js %}



{% endblock js %}