<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- CSS SECTION --> 
        {% include "css.html" %}
        <style>
            @media (max-width: 760px) {
                .dot-menu
                {
                    display: none;
                }
              }
            
        </style>
        {% block css %}
      
        
        
        {% endblock css %}
        <!-- CSS END SECTION --> 


		<!-- Favicon -->
		<link rel="icon" type="image/png" href="{{siteoption.favicon.url}}">
		<!-- Title -->
		<title>
            {% block title %}
            {{siteoption.site_name}}
            {% endblock title %}
        </title>
    </head>

    <body>
        {% include "header.html" %}
        {% block content %}




        {% endblock content %}

        {% include "footer.html" %}





        {% include "js.html" %}
        {% block js %}
        
        
        {% endblock js %}

    </body>


</html>