<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- CSS SECTION --> 
        {% include "css.html" %}
        <!-- CSS END SECTION --> 


		<!-- Favicon -->
		<link rel="icon" type="image/png" href="assets/img/favicon.png">
		<!-- Title -->
		<title>
            {% block title %}
                Everest International Cargo - The [Best] Cargo in Nepal
            {% endblock title %}
        </title>
    </head>

    <body>
        {% include "header.html" %}
        {% block content %}

        
        
        
        {% endblock content %}



        {% block js %}
        
        {% include "js.html" %}
        
        {% endblock js %}

    </body>


</html>