{% extends 'base.html' %}
{% load static %}
{% block title %}
Blogs

{% endblock title %}

{% block css %}




{% endblock css %}

{% block content %}

	<!-- Start Page Title Area -->
    {% include 'page_header_ban.html' %}
    <!-- End Page Title Area -->

    <!-- Start Blog Column Three Area -->
    <section class="blog-column-three-area ptb-100">
        <div class="container">
            <div class="row">
                {% for all_blog in all_blog %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a href="#">
                                <img src="{{all_blog.blog_image.url}}" alt="image">
                            </a>
                        </div>

                        <div class="blog-content">
                            <div class="date">
                                <i class="bx bx-calendar"></i> 
                                <span>{{all_blog.created_date}}</span>
                            </div>

                            <h3>
                                <a href="#">{{all_blog.title}}</a>
                            </h3>

                            <p>{{all_blog.description|slice:250}}</p>

                            <a href="{% url 'front_dashboard:blogs_details' all_blog.id %}" class="default-btn">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                </div>

                {% endfor %}
               
                {% if all_blog.has_other_pages %}
                <div class="col-lg-12 col-md-12">
                    <div class="pagination-area">

                       
                        
                        <!--
                            <a href="#" class="prev page-numbers">
                            <i class="bx bx-chevron-left"></i>
                        </a>
                        --> 
                        {% for number in all_blog.paginator.page_range %}
                        {% if all_blog.number == number %}
                        <span class="page-numbers current" aria-current="page">1</span>
                        
                        {% else %}
                        <a href="?page={{number}}">
                        <span class="page-numbers current" aria-current="page">{{number}}</span>
                        </a>
                        {% endif %}
                        {% endfor %}

                        {% if all_blog.has_next %}
                            <a href="?page={{all_blog.next_page_number}}" class="next page-numbers">
                                <i class="bx bx-chevron-right"></i>
                                
                            </a>
                            {% else %}
                            <a class="next page-numbers disabled">
                                <i class="bx bx-chevron-right"></i>
                                
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- End Blog Column Three Area -->



{% endblock content %}

{% block js %}



{% endblock js %}