{% load static %}
<footer class="footer-area pb-30" style="padding-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a href="index.html" class="logo">
                        <img src="{{siteoption.logo_image.url}}" alt="Image">
                    </a>

                    <p>{{siteoption.description}}</p>

                    <ul class="social-icon">
                        <li>
                            <a href="{{systemoption.fb_url}}">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{systemoption.insta_url}}">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{systemoption.linkedin_url}}">
                                <i class="bx bxl-linkedin-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{systemoption.twitter_url}}">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>

                    <ul class="import-link">
                        <li>
                            <a href="{% url 'front_dashboard:user_services' "landsea-cargo" %}">Land and Sea Cargo</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:user_services' "air-cargo" %}">Air Cargo</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:user_services' "importexport-service" %}">Import/Export Service</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:user_services' "courier-service" %}#">Courier Service</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:user_services' "packingwarehouse-service" %}">Packing/Warehousing Service</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:user_services' "urgent-service" %}">Urgent Service</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Company</h3>

                    <ul class="import-link">
                        <li>
                            <a href="{% url 'front_dashboard:about_us' %}">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:teams' %}">Team</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:location' %}">Global Location</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:blogs' %}">Blog</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:privacy_policy' %}">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="{% url 'front_dashboard:termsandcondition' %}">Terms And Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>

                    <ul class="address">
                        <li class="location">
                            <i class="bx bxs-location-plus"></i>
                            {{systemoption.address}}
                        </li>
                        <li>
                            <i class="bx bxs-envelope"></i>
                            <a href="mailto:{{systemoption.contact_email}}">{{systemoption.contact_email}}</a>
                        </li>
                        <li>
                            <i class="bx bxs-phone-call"></i>
                            <a href="tel:+1-(123)-456-7890">{{systemoption.phone_number}}</a>
                        </li>

                        <li>
                            <i class='bx bxl-whatsapp' style="color: #57ff96;">          </i>
                            <a href="whatsapp://send?abid=+9779841587039">+977 9841587039</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copy-right-area">
    <div class="container">
        <p>
            Copyright <i class="bx bx-copyright"></i>2022 The WEB 3.0 Production
            <a href="https://hibootstrap.com/" target="_blank">Visit</a>
        </p>
    </div>
</div>

<!-- Start Go Top Area -->
<div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
<!-- End Go Top Area -->
