{% load static %}
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a href="index.html" class="logo">
                        <img src="{{siteoption.logo_image.url}}" alt="Image">
                    </a>

                    <p>{{siteoption.description}}</p>

                    <ul class="social-icon">
                        <li>
                            <a href="{{systemoption.fb_url}}">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{systemoption.insta_url}}">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{systemoption.linkedin_url}}">
                                <i class="bx bxl-linkedin-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{systemoption.twitter_url}}">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>

                    <ul class="import-link">
                        <li>
                            <a href="#">Sea Freight</a>
                        </li>
                        <li>
                            <a href="#">Air Freight</a>
                        </li>
                        <li>
                            <a href="#">Road Freight</a>
                        </li>
                        <li>
                            <a href="#">Local Delivery</a>
                        </li>
                        <li>
                            <a href="#">Bus Freight</a>
                        </li>
                        <li>
                            <a href="#">Car Freight</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Company</h3>

                    <ul class="import-link">
                        <li>
                            <a href="about-us.html">About Us</a>
                        </li>
                        <li>
                            <a href="team.html">Team</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="blog-column-one.html">Blog</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="terms-conditions.html">Terms And Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>

                    <ul class="address">
                        <li class="location">
                            <i class="bx bxs-location-plus"></i>
                            {{systemoption.address}}
                        </li>
                        <li>
                            <i class="bx bxs-envelope"></i>
                            <a href="mailto:{{systemoption.contact_email}}">{{systemoption.contact_email}}</a>
                        </li>
                        <li>
                            <i class="bx bxs-phone-call"></i>
                            <a href="tel:+1-(123)-456-7890">{{systemoption.phone_number}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copy-right-area">
    <div class="container">
        <p>
            Copyright <i class="bx bx-copyright"></i>2022 The WEB 3.0 Production
            <a href="https://hibootstrap.com/" target="_blank">Visit</a>
        </p>
    </div>
</div>

<!-- Start Go Top Area -->
<div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
<!-- End Go Top Area -->
