{% load static %}


<!-- Start Header Area -->
<header class="header-area">
    <!-- Start Top Header -->
    <div class="top-header top-header-two">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-10">
                    <ul class="header-left-content">
                        <li>
                            <i class="bx bx-home"></i>
                            {{systemoption.address}}
                        </li>
                        <li>
                            <i class="bx bx-phone-call"></i>
                            <a href="tel:{{systemoption.phone_number}}">{{systemoption.phone_number}}</a>
                        </li>
                        <li>
                            <i class="bx bx-envelope"></i>
                            <a href="mailto:{{systemoption.contact_email}}">{{systemoption.contact_email}}</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-2">
                    <div class="header-right-content">
                       
                        <a href="{{systemoption.fb_url}}"><i class='bx bxl-facebook'></i></a>
                       
                    <a href="{{systemoption.insta_url}}"><i class='bx bxl-instagram' ></i></a>
                       
                    <a href="{{systemoption.twitter_url}}"> <i class='bx bxl-twitter' ></i></a>
                        
                    </div>
                </div>
                

               
            </div>
        </div>
    </div>
    <!-- Start Top Header -->
    
    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-area-style-two">
        <div class="mobile-nav">
            <div class="container">
                <div class="mobile-menu" style=" display: flex; align-items: center; ">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{{siteoption.logo_image.url}}" alt="logo" style="height: 120px; width:250px; margin-top: -20px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="{{siteoption.logo_image.url}}" alt="logo" style="height: 120px; width:250px; margin-top: -20px;">
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="{% url 'front_dashboard:frontdashboard' %}" class="nav-link active">
                                    Overview
                                    
                                </a>
    
                              
                            </li>

                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    Services
                                    <i class="bx bx-chevron-down"></i>
                                </a>
    
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="{% url 'front_dashboard:user_services' "air-freight" %}" class="nav-link">Air Freight</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a href="{% url 'front_dashboard:user_services' "landsea-freight" %}" class="nav-link">Land and Sea Freight</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'front_dashboard:user_services' "importexport-service" %}" class="nav-link">Import/Export Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'front_dashboard:user_services' "courier-service" %}" class="nav-link">Courier Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'front_dashboard:user_services' "packingwarehouse-service" %}" class="nav-link">Packing/Warehousing Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                           Other Service
                                            <i class="bx bx-chevron-right"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="{% url 'front_dashboard:user_services' "urgent-service" %}" class="nav-link">Urgent Service</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'front_dashboard:user_services' "transport-service" %}" class="nav-link">Transport Service</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'front_dashboard:user_services' "domestic-service" %}" class="nav-link">Domestic Service</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'front_dashboard:user_services' "custom-clearance" %}" class="nav-link">Custom Clearance</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'front_dashboard:user_services' "package-tracking" %}" class="nav-link">Package Tracking</a>
                                            </li>
                                           
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'front_dashboard:tracking_package' %}" class="nav-link">Tracking</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'front_dashboard:about_us' %}" class="nav-link">
                                    About Us
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    Other Pages
                                    <i class="bx bx-chevron-down"></i>
                                </a>
    
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'front_dashboard:blogs' %}">Blogs</a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a href="services-style-three.html" class="nav-link">Shop</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'front_dashboard:teams' %}" class="nav-link">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'front_dashboard:location' %}" class="nav-link">Global Location</a>
                                    </li>
                                </ul>
                            </li>


                            <li class="nav-item">
                                <a href="{% url 'front_dashboard:contact_us' %}" class="nav-link">Contact Us</a>
                            </li>
                        </ul>
                        
                        <div class="others-option">
                            <div class="get-quote">
                                <a href="{% url 'front_dashboard:request_quotes' %}" class="default-btn">
                                    <span>Get A Quote</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="option-inner">
                        <div class="others-option justify-content-center d-flex align-items-center">
                            <div class="get-quote">
                                <a href="pricing-style-two.html" class="default-btn">
                                    <span>Get A Quote</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
</header>
<!-- End Header Area -->