
{% load static %}

<!-- Jquery Min JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap Bundle Min JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- Meanmenu Min JS -->
<script src="{% static 'js/meanmenu.min.js' %}"></script>
<!-- Wow Min JS -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Owl Carousel Min JS -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Nice Select Min JS -->
<script src="{% static 'js/nice-select.min.js' %}"></script>
<!-- Magnific Popup Min JS -->
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<!-- Jarallax Min JS --> 
<script src="{% static 'js/jarallax.min.js' %}"></script>
<!-- Appear Min JS --> 
<script src="{% static 'js/appear.min.js' %}"></script>
<!-- Odometer Min JS --> 
<script src="{% static 'js/odometer.min.js' %}"></script>
<!-- Smoothscroll Min JS --> 
<script src="{% static 'js/smoothscroll.min.js' %}"></script>
<!-- Form Validator Min JS -->
<script src="{% static 'js/form-validator.min.js' %}"></script>
<!-- Contact JS -->
<script src="{% static 'js/contact-form-script.js' %}"></script>
<!-- Ajaxchimp Min JS -->
<script src="{% static 'js/ajaxchimp.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'js/custom.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
