{% extends 'base.html' %}
{% load static %}
{% block title %}
{{page_name}}

{% endblock title %}

{% block css %}

<style>
    blockquote {
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #F9FAFB;
        padding: 30px;
    }
    blockquote p {
        font-weight: 600;
        font-size: 18px;
        color: #000024;
        text-align: center;
        padding-left: 50px;
        margin-bottom: 0;
    }
    blockquote i {
        font-size: 50px;
        color: #ffffff;
        background-color: #0383ff;
        position: absolute;
        top: 30px;
        left: 30px;
        line-height: 1;
    }
</style>




{% endblock css %}

{% block content %}

    {% include "page_header_ban.html" %}
<!-- End Choose Us Area -->
<section class="testimonials-area pt-100 pb-10">
    <div class="container-fluid p-0">
        <div class="section-title">
            <span>Top Seller</span>
            <p>We provide incredible services to our customers on this platform. We have a large connection with the manufacturer in Nepal. Whatever Nepali products you want we could support you in buying processing, picking up, packaging, warehousing, and exporting it unless any hesitation. We always focus on the best deals.</p>
            <blockquote>
                <p>“Satisfied Customers are out best Ads”</p>
            </blockquote>        </div>

        
    </div>
</section>
<!-- Start Product Area -->
<div class="product-area ptb-10">
    <div class="container">
        
        
        <div class="row">

            {% for products in products %}
            <div class="col-lg-4 col-sm-6">
                <div class="single-product">
                    <div class="product-img">
                        <img src="{{products.image.url}}" alt="Image">
                        
                        
                    </div>

                    <a href="product-details.html">
                        <h3>{{products.title}}</h3>
                    </a>


                    <a href="{% url 'front_dashboard:products-deails' products.id %}" class="default-btn">
                        <span>Show Details</span>
                    </a>
                </div>
            </div>

            {% empty %}
                Empty Products

            {% endfor %}
           
            {% comment %} <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <!--
                        <a href="#" class="prev page-numbers">
                        <i class="bx bx-chevron-left"></i>
                    </a>
                    -->

                    <span class="page-numbers current" aria-current="page">1</span>
                    <a href="#" class="page-numbers">2</a>
                    <a href="#" class="page-numbers">3</a>
                    
                    <a href="#" class="next page-numbers">
                        <i class="bx bx-chevron-right"></i>
                    </a>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<!-- End Product Area -->
{% endblock content %}

