{% extends 'base.html' %}
{% load static %}
{% block title %}
Quotes

{% endblock title %}

{% block css %}
<style>

    .bg-overlay {
        position: relative;
        z-index: 0;
        height: 130vh;
        padding-top: 106px;
    }
    .bg-overlay::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: var(--primary-bg-color-2);
        opacity: 0.94;
        z-index: -2;
    }
    #contact-form
    {
        padding:54px;
    }
    :root {
      
        --primary-bg-color-2: #F3F5F7;

    }
    .page-title-area::before {
        background-color: transparent !important;

    }
    .page-title-area .page-title-content h2 {
        color: white;
    }
    .page-title-area .page-title-content ul li a {
        color: white;
    }
    .page-title-area .page-title-content ul .active {
        color: white;
    }
    .text-white {
        color: black!important;
    }
       
</style>



{% endblock css %}

{% block content %}
{% include "page_header_ban.html" %}



<section class="cta-area bg-overlay">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-between align-items-center">
            <div class="col-12 col-lg-5">
                <h2 class="text-white mt-0">Book your Shipment?</h2>
                <p class="text-white">We provide a range of options for scheduling cargo space for your shipments, including making reservations in advance, reserving online, and more. </p>
            </div>
            <div class="col-12 col-lg-7">
                <!-- Contact Box -->
                <div class="contact-box bg-white text-center rounded mt-5 mt-lg-0 shadow-lg">
                    <!-- Contact Form -->
                    <div id="contact-form">
                        <div class="contact-top">
                            <h4 class="m-0" style="color:#0383ff">Have any Query?</h4>
                            <h6 style="margin-top:10px">Fill out all the field so that We can contact you as soon as possible.</h6>
                        </div>
                        <div class="tab_content">
                       

                            <div class="tabs_item">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 style="
                                            margin-top: 30px;
                                            float: left;
                                            margin-bottom: 17px;
                                        ">Personal Data</h4>
                                        </div>
    
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Your Name">
                                            </div>
                                        </div>
    
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email"  placeholder="Your Email">
                                            </div>
                                        </div>
    
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="phone"  placeholder="Your Phone">
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 style="
                                            margin-top: 30px;
                                            float: left;
                                            margin-bottom: 17px;
                                        ">Shipment Data</h4>
                                        </div>
    
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                           
                                                <select class="form-control" name="freight">
                                                    <option value="">Select Freight</option>
                                                    {% for courier in courier %}
                                                    
                                                    
                                                    <option value="{{courier.id}}">{{courier}}</option>
                                                    
                                                    {% endfor %}
                                                </select>
                                                    </div>
                                            </div>
    
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="City of Departure" name="city">
                                            </div>
                                        </div>
    
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Which Country" name="country">
                                            </div>
                                        </div>
                                    </div>
    
                                   <div  style="margin-top:20px;" class="row">
                                        <div class="col-12 col-md-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="width" name="width">
                                            </div>
                                        </div>
    
                                        <div class="col-12 col-md-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Height" name="Height">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="weight" name="weight">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Length" name="length">
                                            </div>
                                        </div>
                                    </div>
                                       
                                    </div>
                                    </div>
    
                                    <div class="row" style="margin-top:20px;">
                                       
                                        <div class="col-12" style="margin-top:20px;">
                                            <button class="form-control" type="submit" style=" color: white; background-color: #000024; ">Request a Quote</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
    
                        </div>
                        
                        
                       
                     
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}