{% extends 'base.html' %}
{% load static %}
{% block title %}
Services

{% endblock title %}

{% block css %}




{% endblock css %}

{% block content %}
{% include "page_header_ban.html" %}

<!-- Start Services Details Area -->
<section class="services-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="details-img">
                    <img src="{{service_details.main_service_image.url}}" alt="Image" style=" width: 800px; ">
                </div>

                <div class="content-one">
                    <h3>{{service_details.first_text}}</h3>
                  
                        <p>{{service_details.first_description}}</p>
                        
                       
                    </p>
                </div>

                <div class="content-two">
                    {% if service_details.second_service_image %}
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-30">
                                <h3>{{service_details.second_text}}</h3>
                                <p>{{service_details.second_description}}</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6">
                            <div class="services-details-img mb-30">

                                <img src="{{service_details.second_service_image.url}}" alt="Image" style="width: 360px;">
                            </div>
                        </div>
                        
                    </div>
                    {% endif %}

                    <div class="content-two mt-0">
                        <div class="row align-items-center">
                            {% if service_details.third_service_image %}
                            <div class="col-lg-6 col-md-6">
                                <div class="services-details-img mb-30">
                                    <img src="{{service_details.third_service_image.url}}" alt="Image" style=" width: 391px; ">
                                </div>
                            </div>
                            

                            <div class="col-lg-6 col-md-6">
                                <div class="mb-30">
                                    <h3>{{service_details.third_text}}</h3>
                                    <p>{{service_details.third_description}}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-sidebar">
                    <div class="sidebar-widget search">
                        <form class="search-form">
                            <input class="form-control" name="search" placeholder="Search here" type="text">
                            <button class="search-button" type="submit">
                                <i class="bx bx-search"></i>
                            </button>
                        </form>	
                    </div>

                    <div class="sidebar-widget categories">
                        <h3>Categories</h3>

                        <ul>
                            <li>
                                <a href="#">Road Transport</a>
                            </li>
                            <li>
                                <a href="#">Sea Transport</a>
                            </li>
                            <li>
                                <a href="#">Air Transport</a>
                            </li>
                            <li>
                                <a href="#">Courier Service</a>
                            </li>
                            <li>
                                <a href="#">Fast Freight</a>
                            </li>
                            <li>
                                <a href="#">Home Delivery</a>
                            </li>
                            <li>
                                <a href="#">Packageing</a>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget categories">
                        <h3>Opening hours</h3>

                        <ul>
                            <li>
                                Mon-Fri:
                                <span>9:00 AM - 5:30 PM</span>
                            </li>
                            <li>
                                Saturday:
                                <span>9:00 AM - 4:00 PM</span>
                            </li>
                            <li>
                                Sunday:
                                <span>Closed</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->


{% endblock content %}

{% block js %}



{% endblock js %}