{% extends 'base.html' %}
{% load static %}
{% block title %}
Services

{% endblock title %}

{% block css %}




{% endblock css %}

{% block content %}



{% include "page_header_ban.html" %}

<!-- Start Team Area -->
<section class="team-area bg-color pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our Team</span>
            <h2>Need Immediate Support Or Any Help? Contact Our Team</h2>
        </div>

        <div class="row">
            {% for team in all_teams %}
            <div class="col-lg-4 col-md-6">
                <div class="single-team-member">
                    <img src="{{team.user_image.url}}" alt="Image">

                    <div class="team-content">
                        <span>{{team.designation}}</span>
                        <h3>{{team.full_name}}</h3>

                       
                    </div>
                </div>
            </div>
            {% endfor %}

           
        </div>
    </div>
</section>
<!-- End Team Area -->
{% endblock content %}

{% block js %}



{% endblock js %}