{% extends 'base.html' %}
{% load static %}
{% block title %}
Tracking

{% endblock title %}

{% block css %}
<style>
    .page-title-area::before {
        background-color: transparent !important;

    }
    .page-title-area .page-title-content h2 {
        color: white;
    }
    .page-title-area .page-title-content ul li a {
        color: white;
    }
    .page-title-area .page-title-content ul .active {
        color: white;
    }
    .text-white {
        color: black!important;
    }

    
</style>



{% endblock css %}

{% block content %}
{% include "page_header_ban.html" %}
<!-- Start Track Area -->
<section class="mt-5" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab quote-list-tab">
                    <ul class="tabs">
                        <li>
                            <a href="#">
                                <i class="flaticon-truck"></i>
                                Track & Trace
                            </a>
                        </li>
                       
                    </ul>

                    <div class="tab_content">
                       

                        <div class="tabs_item">
                            <form action="{% url 'front_dashboard:tracking_details' %}" method="get">
                                <div class="row">
                                   
                                    </div>

                                    <div class="col-12 mt-30">
                                        <h3>Tracking Number</h3>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="awb_no" placeholder="Enter your tracking number."></textarea>
                                        </div>
                                    </div>
                                    <p style="color:red">{{message}}</p>
                                

                              
                                   


                                    <div class="col-12">
                                        <button type="submit" class="default-btn">
                                            Track Your Package
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Track Area -->

<div class="page-content yq-panel-coop mt-3" data-cur-coop="0" style="z-index: 1;">
    
    <section class="fixWidth text-center " data-animation-in="">
       <h2 class="grey-900 " data-animation-in="">Top Shipping Carriers</h2>
       <p class="grey-900 font-size-16 margin-bottom-30 " data-animation-in="">A high-quality carrier helps to complete your tracking information.</p>
       <div class="coop-container margin-bottom-30">
          <ul id="jcCoopContainer" class="row">
             <div style=" display: contents; ">
                <li class="col-xs-12 col-sm-12 col-md-4 " 
                data-carrier="190008" 
                data-animation-in=""> 
                <a href="/en/brand/yunexpress"
                 data-isour="true">
                 <span class="e-logo">
                    <img yqrole="img" 
                    src="{% static 'img/company_logo/dhl.png' %}" style="margin-top:10px">
                </span></a></li>
                <li class="col-xs-12 col-sm-12 col-md-4 " 
                data-carrier="190002" data-animation-in="">
                 <a href="/en/brand/flyt" data-isour="true">
                    <span class="e-logo">
                        <img yqrole="img" 
                        src="{% static 'img/company_logo/aramex.png' %}" style="margin-top:4px;height:100px">
                    </span>
                    
                    
                   
                </a></li>
                <li class="col-xs-12 col-sm-12 col-md-4 fadeFromBottom" 
                data-carrier="190002" data-animation-in="">
                 <a href="/en/brand/flyt" data-isour="true">
                    <span class="e-logo">
                        <img yqrole="img" 
                        src="{% static 'img/company_logo/dpd.png' %}">
                    </span>
                    
                    
                   
                </a></li>
                <li class="col-xs-12 col-sm-12 col-md-3 fadeFromBottom" 
                data-carrier="190002" data-animation-in="">
                 <a href="/en/brand/flyt" data-isour="true">
                    <span class="e-logo">
                        <img yqrole="img" 
                        src="{% static 'img/company_logo/fedex.png' %}">
                    </span>
                    
                    
                   
                </a></li>
                <li class="col-xs-12 col-sm-12 col-md-3 fadeFromBottom" 
                data-carrier="190002" data-animation-in="">
                 <a href="/en/brand/flyt" data-isour="true">
                    <span class="e-logo">
                        <img yqrole="img" 
                        src="{% static 'img/company_logo/ups.png' %}" style="height:79px">
                    </span>
                    
                    
                   
                </a></li>
                <li class="col-xs-12 col-sm-12 col-md-3 fadeFromBottom" 
                data-carrier="190002" data-animation-in="">
                 <a href="/en/brand/flyt" data-isour="true">
                    <span class="e-logo">
                        <img yqrole="img" 
                        src="{% static 'img/company_logo/skynet.png' %}" style="height:29px;margin-top:30px">
                    </span>
                    
                    
                   
                </a></li>
                <li class="col-xs-12 col-sm-12 col-md-3 fadeFromBottom" 
                data-carrier="190002" data-animation-in="">
                 <a href="/en/brand/flyt" data-isour="true">
                    <span class="e-logo">
                        <img yqrole="img" 
                        src="{% static 'img/company_logo/tnt.png' %}" style="height:45px;margin-top:30px">
                    </span>
                    
                    
                   
                </a></li>
             </div>
          </ul>
       </div>
    </section>
   
 </div>
 
 {% endblock %}