{% extends 'base.html' %}
{% load static %}
{% block title %}
Everest International Cargo - The [Best] Cargo in Nepal

{% endblock title %}

{% block css %}




{% endblock css %}

{% block content %}

		<section>
			<div class="carousel-single owl-carousel owl-drag owl-theme">

				<div class="banner-area bg-3 slide1 jarallax" data-jarallax='{"speed": 0.3}' style="background-image: url('{% static 'img/cargo_img/all.jpg' %}');">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container">
								<div class="row align-items-center justify-content-center text-center">
									<div class="col-lg-6">
										{% comment %} <a href="{% url 'front_dashboard:tracking_details' %}">Link </a> {% endcomment %}
										<h1 style="color: #0383FF; font-size: 45px;">TRACK YOUR SHIPMENT</h1>
										<p class="mb-4" style="color: #fff;font-size: 13px; ">ENTER YOUR TRACKING NUMBER  THAT WE HAVE PROVIDED YOU.</p>
										<form action="{% url 'front_dashboard:tracking_details' %}" method="get">
											<div class="form-group d-flex">
												<input type="number" class="form-control" name="awb_no" style="    padding-left: 20px;
												padding-right: 20px;
												margin-right: 10px;
												background: white;

												" placeholder="Enter your tracking number.">
												<input type="submit" class="btn btn-primary btn-color text-white px-4" value="Track Now" name="track_shipment">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
		
				<div class="banner-area banner-area-three bg-3 slide1 jarallax" data-jarallax='{"speed": 0.3}' style="background-image: url('{% static 'img/worldmap.gif' %}');">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-lg-7">
										<div class="banner-content">
											<span class="top-title wow fadeInDown" data-wow-delay="1s" style="text-align: initial;">Welcome to EVEREST EXPORT</span>
											<h1 class="wow fadeInDown" data-wow-delay="1s" style="text-align: initial;">Make Faster Delivery In A Quick Solution</h1> 
												
											<p class="wow fadeInLeft" data-wow-delay="1s" style="text-align: initial;">Join the millions getting bargain deals on shipping cars furniture freight and more</p>

											<div class="banner-btn wow fadeInUp" data-wow-delay="1s" style="text-align: initial;">
												<a href="pricing-style-one.html" class="default-btn">
													<span>Get A Free Quote</span>
												</a>
												<a href="contact-us.html" class="default-btn active">
													<span>Contact Us</span>
												</a>
											</div>
										</div>
									</div>
									<div class="col-lg-5">
										<div class="quote-price-content wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
											<div class="courses-title">
												<h3>Quick Quote Price</h3>
												<p>Let's start a price quote on transport</p>
											</div>
		
											<form class="courses-form">
												<div class="form-group">
													<label>Transportation Route</label>
													<select style="display: none;">
														<option value="1">90 K. M.</option>
														<option value="2">100 K. M.</option>
														<option value="3">200 K. M.</option>
														<option value="4">300 K. M.</option>
														<option value="5">400 K. M.</option>
														<option value="6">500 K. M.</option>
														<option value="7">600 K. M.</option>
													</select><div class="nice-select" tabindex="0"><span class="current">90 K. M.</span><ul class="list"><li data-value="1" class="option selected">90 K. M.</li><li data-value="2" class="option">100 K. M.</li><li data-value="3" class="option">200 K. M.</li><li data-value="4" class="option">300 K. M.</li><li data-value="5" class="option">400 K. M.</li><li data-value="6" class="option">500 K. M.</li><li data-value="7" class="option">600 K. M.</li></ul></div>	
												</div>
		
												<div class="form-group">
													<label>Dispatch Country</label>
													<select style="display: none;">
														<option value="1">London</option>
														<option value="2">Canada</option>
														<option value="3">Australia</option>
														<option value="4">Brazil</option>
														<option value="5">Argentina</option>
														<option value="6">Hungarian</option>
														<option value="7">Latvian</option>
													</select><div class="nice-select" tabindex="0"><span class="current">London</span><ul class="list"><li data-value="1" class="option selected">London</li><li data-value="2" class="option">Canada</li><li data-value="3" class="option">Australia</li><li data-value="4" class="option">Brazil</li><li data-value="5" class="option">Argentina</li><li data-value="6" class="option">Hungarian</li><li data-value="7" class="option">Latvian</li></ul></div>	
												</div>
		
												<div class="form-group">
													<label>Shipment Country</label>
													<select style="display: none;">
														<option value="1">Australia</option>
														<option value="2">Canada</option>
														<option value="3">London</option>
														<option value="4">Hungarian</option>
														<option value="5">Argentina</option>
														<option value="6">Brazil</option>
														<option value="7">Latvian</option>
													</select><div class="nice-select" tabindex="0"><span class="current">Australia</span><ul class="list"><li data-value="1" class="option selected">Australia</li><li data-value="2" class="option">Canada</li><li data-value="3" class="option">London</li><li data-value="4" class="option">Hungarian</li><li data-value="5" class="option">Argentina</li><li data-value="6" class="option">Brazil</li><li data-value="7" class="option">Latvian</li></ul></div>	
												</div>
				
												<button type="submit" class="default-btn">
													<span>Apply</span>
												</button>
											</form>
										</div>
									</div>
									

									
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</section>
    <section class="about-us-area pb-50" style="padding-top: 37px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img about-img-three">
                        <img src="{% static 'img/33.jpg' %}" alt="Image">

                        <div class="experience">
                            <div class="">
                                <h2>10 Years Of Experience</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-content">
                        <span class="top-title">About Us</span>
                        <h2>{{about_us.main_text}}</h2>
                        <p>{{about_us.description}}</p>
                        
                        <ul>
                            <li>
                                <i class="bx bx-check"></i>
                                24/7 Business Support
                            </li>
                            <li>
                                <i class="bx bx-check"></i>
                                Immediate pickup and warehousing 
                            </li>
                            <li>
                                <i class="bx bx-check"></i>
                                Flexible delivery solutions and rates 
                            </li>
                            <li>
                                <i class="bx bx-check"></i>
                                Real-time Package tracking
                            </li>
                        </ul>

                       
                    </div>
                </div>
            </div>
        </div>
    </section>

	<!-- shipping PArtner-->
	<div class="page-content yq-panel-coop mt-3" data-cur-coop="0" style="z-index: 1;">
    
		<section class="fixWidth text-center bg-color ptb-70" data-animation-in="">
			<div class="section-title">
				<span>Our Shipping Partners</span> 
				<h2>World Best Courier/Cargo Provider for shipment.</h2>
			</div>
		   <div class="coop-container margin-bottom-30">
			  <ul id="jcCoopContainer" class="row">
				 <div style=" display: contents; ">
					<li class="col-xs-12 col-sm-12 col-md-4 " 
					data-carrier="190008" 
					data-animation-in=""> 
					<a href="/en/brand/yunexpress"
					 data-isour="true">
					 <span class="e-logo">
						<img yqrole="img" 
						src="{% static 'img/company_logo/dhl.png' %}" style="margin-top:10px">
					</span></a></li>
					<li class="col-xs-12 col-sm-12 col-md-4 " 
					data-carrier="190002" data-animation-in="">
					 <a href="/en/brand/flyt" data-isour="true">
						<span class="e-logo">
							<img yqrole="img" 
							src="{% static 'img/company_logo/aramex.png' %}" style="margin-top:4px;height:100px">
						</span>
						
						
					   
					</a></li>
					<li class="col-xs-12 col-sm-12 col-md-4 fadeFromBottom" 
					data-carrier="190002" data-animation-in="">
					 <a href="/en/brand/flyt" data-isour="true">
						<span class="e-logo">
							<img yqrole="img" 
							src="{% static 'img/company_logo/dpd.png' %}">
						</span>
						
						
					   
					</a></li>
					<li class="col-xs-12 col-sm-12 col-md-3 fadeFromBottom" 
					data-carrier="190002" data-animation-in="">
					 <a href="/en/brand/flyt" data-isour="true">
						<span class="e-logo">
							<img yqrole="img" 
							src="{% static 'img/company_logo/fedex.png' %}">
						</span>
						
						
					   
					</a></li>
					<li class="col-xs-12 col-sm-12 col-md-3 fadeFromBottom" 
					data-carrier="190002" data-animation-in="">
					 <a href="/en/brand/flyt" data-isour="true">
						<span class="e-logo">
							<img yqrole="img" 
							src="{% static 'img/company_logo/ups.png' %}" style="height:79px">
						</span>
						
						
					   
					</a></li>
					<li class="col-xs-12 col-sm-12 col-md-3 fadeFromBottom" 
					data-carrier="190002" data-animation-in="">
					 <a href="/en/brand/flyt" data-isour="true">
						<span class="e-logo">
							<img yqrole="img" 
							src="{% static 'img/company_logo/skynet.png' %}" style="height:29px;margin-top:30px">
						</span>
						
						
					   
					</a></li>
					<li class="col-xs-12 col-sm-12 col-md-3 fadeFromBottom" 
					data-carrier="190002" data-animation-in="">
					 <a href="/en/brand/flyt" data-isour="true">
						<span class="e-logo">
							<img yqrole="img" 
							src="{% static 'img/company_logo/tnt.png' %}" style="height:45px;margin-top:30px">
						</span>
						
						
					   
					</a></li>
				 </div>
			  </ul>
		   </div>
		</section>
	   
	 </div>

    <!-- Start Services Area -->
		<section class="services-area pb-70" style="padding-top: 37px;">
			<div class="container">
				<div class="section-title">
					<span>Our Services</span> 
					<h2>We Are Trusted For Our Services</h2>
					<p>With years of experience, we are a top provider of logistics services. We pledge to offer any business in the world efficient courier, cargo, and logistical solutions.</p>
				</div>

				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="single-services-box">
							<i class="flaticon-fast-delivery-1"></i>
							<h3> AIR FREIGHT </h3>
							<p>Air freight has been our core business for 16 years and we have right away access to numerous airlines to destinations across the world.</p>

							<a href="{% url 'front_dashboard:user_services' "air-freight" %}" class="read-more">
								Read More
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-services-box">
							<i class="flaticon-boat"></i>
							<h3>LAND AND SEA FREIGHT</h3>
							<p>A great alternative to air freight, our land and sea freight experts work with a range of land and ocean shipping carriers and engage various mode of transport.</p>

							<a href="{% url 'front_dashboard:user_services' "landsea-freight" %}" class="read-more">
								Read More
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
						<div class="single-services-box">
							<i class="flaticon-airplane"></i>
							<h3>WAREHOUSING</h3>
							<p>If there is a need to manage a seasonal inventory upsurge, Everest International Everest can help for long-term term and short-term warehousing.</p>

							<a href="{% url 'front_dashboard:user_services' "packingwarehouse-service" %}" class="read-more">
								Read More
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Services Area -->

    <section class="shipment-area pb-100 jarallax" data-jarallax='{"speed": 0.3}' style="padding-top: 37px;">
        <div class="container">
            <div class="shipment-content">
                <span class="top-title">Shipment</span>
                <h2>Are You A Shipper? Please Knock Us On The Below Button</h2>
                <p>One of Nepal's top providers of international logistics is Everest International Cargo. We manages ocean freight, postal, courier, and import/export services in addition to providing a solution for the international exchange of goods by assisting the land and air transportation industries.</p>

                <div class="shipment-btn">
                    <a href="{% url 'front_dashboard:request_quotes' %}" class="default-btn">
                        <span>Make A Shipment</span>
                    </a>
                    <a href="{% url 'front_dashboard:contact_us' %}" class="default-btn active">
                        <span>Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Start FAQ Area -->
		<section class="faq-area pb-100" style="padding-top: 37px;">
			<div class="container">
				<div class="section-title">
					<span class="pumpkin-color">FAQ</span>
					<h2>Get Every Single Answer</h2>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="faq-accordion">
							<ul class="accordion">
								{% for faq in faq_model %}
								<li class="accordion-item">
									<a class="accordion-title active" href="javascript:void(0)">
										<span>{{forloop.counter}}</span>
										{{faq.question}}
									</a>
									<p class="accordion-content">{{faq.answer}}</p>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="faq-img" style="background-image: url({% static 'img/cargo_img/faq.jpg' %}); background-size: contain;">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End FAQ Area -->

    <!-- Start Testimonials Area Two -->
		<section class="testimonials-area-two pb-70" style="padding-top: 37px;">
			<div class="container">
				<div class="section-title">
					<span>Our Testimonials</span>
					<h2>Let's Know About All Of Our Client Says</h2>
				</div>

				<div class="testimonials-slider-two owl-theme owl-carousel">
					{% for testimonials in testimonials %}
					<div class="single-testimonials-two">
						<img src="{{testimonials.user_image.url}}" alt="Image">

						<h3>{{testimonials.user_name}}</h3>
						<span>{{testimonials.designation}}</span>
						<p>{{testimonials.description}}</p>

						<ul>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
						</ul>

						<div class="quotes">
							<i class="flaticon-left-quotes-sign"></i>
						</div>
					</div>

				{% endfor %}

					
				</div>
			</div>
		</section>
		<!-- End Testimonials Area Two -->

		<!-- Start Blog Area -->
        <section class="blog-area pb-100" style="padding-top: 37px;">
			<div class="container">
				<div class="section-title">
					<span>Our Blog</span>
					<h2>Make A Relation With Our Blog Article And Meet With Our Blogs</h2>
					<p>Read Our Amazing Blogs to know more about the shipping information.</p>
				</div>

				<div class="row">
					<div class="blog-slider owl-carousel owl-theme">
						
						{% for blog in blogs %}
						<div class="single-blog-post">
							<div class="post-image">
								<a href="#">
									<img src="{{blog.blog_image.url}}" alt="image">
								</a>
							</div>

							<div class="blog-content">
								<div class="date">
									<i class="bx bx-calendar"></i> 
									<span>{{blog.created_date}}</span>
								</div>

								<h3>
									<a href="#">{{blog.title}}</a>
								</h3>

								<p>{{blog.description|slice:250}}...</p>

								<a href="blog-details.html" class="default-btn">
									<span>Read More</span>
								</a>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->



{% endblock content %}
{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>


	$(".owl-carousel").owlCarousel({
		items: 1,
		loop  : true,
		margin : 30,
		nav    : true,
		smartSpeed :900,
		//autoplay:true,
		//autoplayTimeout:5000,
		//autoplayHoverPause:false,
		navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
			
		
	  });

	
</script>

{% endblock js %}



