{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}
<link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />

<style>
    .bold_text
    {
        font-weight: 500;
    }
</style>
{% endblock %}
{% block contents %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="pt-3">
                                            <div class="row justify-content-center">
                                                <div class="col-xl-8">
                                                    <div>
                                                        <div class="text-center">
                                                            <div class="mb-4">
                                                                <a href="javascript: void(0);" class="badge bg-light font-size-12">
                                                                    <i class="bx bx-purchase-tag-alt align-middle text-muted me-1"></i> About Us
                                                                </a>

                                                            </div>
                                                            
                                                        </div>

                                                        <hr>
                                                        <div class="text-center">
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <div>
                                                                        <p class="text-muted mb-2">Categories</p>
                                                                        <h5 class="font-size-15">About Us</h5>
                                                                    </div>
                                                                </div>
                                                                                                
                                                                <div class="col-sm-4">
                                                                    <div class="mt-4 mt-sm-0">
                                                                        <p class="text-muted mb-2"></p>
                                                                        <h5 class="font-size-15"></h5>
                                                                    </div>
                                                                </div>
                                                               
                                                                <div class="col-sm-4">
                                                                    <div class="mt-4 mt-sm-0">
                                                                        <p class="text-muted mb-2">Date</p>
                                                                        <h5 class="font-size-15">{{qs.updated_date}}</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>

                                                        <div class="my-5">
                                                            {% if qs.main_image.url %}
                                                            <img src="{{qs.main_image.url}}" alt="" class="img-thumbnail mx-auto d-block">
                                                            {% endif %}
                                                        </div>

                                                        <hr>

                                                        <div class="mt-4">
                                                            <div class="text-muted font-size-14">
                                                                <span></span>

                                 
                                                            

                                                                <div class="mt-4">
                                                                    <h5 class="mb-3 bold_text" >Main Text: </h5>

                                                                    <div>
                                                                        <div class="row">
                                                                            <div class="col-lg-8 col-sm-6">
                                                                                {{qs.main_text}}
                                                                            </div>
                                                                           
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="mt-4">
                                                                    <h5 class="mb-3 bold_text" >About Us Description: </h5>

                                                                    <div>
                                                                        <div class="row">
                                                                            <div class="col-lg-8 col-sm-6">
                                                                                {{qs.description}}
                                                                            </div>
                                                                           
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="mt-4">
                                                                    <h5 class="mb-3 bold_text">Package Stats: </h5>

                                                                    <div>
                                                                        <div class="row">
                                                                            <div class="col-lg-6 col-sm-6">
                                                                                <div>
                                                                                    <ul class="ps-4">
                                                                                        <li class="py-1 bold_text">Delivered Package: {{qs.delivery_packages}}</li>
                                                                                        <li class="py-1 bold_text">Countries Covered: {{qs.countries_covered}}</li>
                                                                                        <li class="py-1 bold_text">Happy Clients: {{qs.happy_clients}}</li>
                                                                                        <li class="py-1 bold_text">Tons Of Goods: {{ qs.tons_of_good}}</li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                           
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            </div>

                                                            <hr>
                                                            <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".OverviewUpdateModal">Update</button>
                                                            <button type="button" class="btn btn-outline-danger waves-effect waves-light" >Delete</button>


                                                            
                                                        </div>
                                                        

                                                        <div class="modal fade OverviewUpdateModal" tabindex="-1" style="display: none;" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Update Overview</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form method="POST" enctype='multipart/form-data'>
                                                                            <div style="width:100%;" class="d-flex w-100 mb-3 mt-3">
                                                                                <div>
                                                                                    <label for="banner">About Us :</label>
                                                                                        <input
                                                                                            type="file"
                                                                                            data-default-file="{{qs.main_image.url}}"
                                                                                            class="dropify"
                                                                                            name="banner"
                                                                                            data-height="180"
                                                                                            id="fileName" 
                                                                                            accept="image/png, image/gif, image/jpeg, image/jpg, image/heic "
                                                                                            />
                                                                                </div>
                                                                            </div>
                                                                            {% crispy form %}
                                                                        
                                                                       <button type="submit" class="btn btn-primary waves-effect waves-light">Update</button>
                                                                       
                                                                    </form>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->


                
{% endblock %}


{% block extra_javascript %}

<script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>

{% comment %} <script>
    $('.dropify').dropify();

</script> {% endcomment %}


{% endblock  %}
